.work_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
  flex-wrap: wrap;
}

.work_item {
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}

.work_item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work_item_active {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work_container {
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;
}

.work_card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  width: 18rem;
}

.work_img {
  width: 250px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.work_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.work_details {
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-0-5);
}

.work_tagline {
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  margin: -3rem 2rem 3rem 2rem;
  text-align: center;
}

.work_tags {
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-0-5);
}

.work_buttons {
  display: flex;
  justify-content: space-between;
}

.work_button {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.work_button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work_button:hover .work_button-icon {
  transform: translateX(0.25rem);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .work_container {
    grid-template-columns: repeat(2, max-content);
    gap: 1.5rem;
  }

  .work_filters {
    column-gap: 0.05rem;
    margin-bottom: var(--mb-1);
  }

  /* .work_item {
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
  } */
}

@media screen and (max-width: 460px) {
  .work_container {
    grid-template-columns: repeat(1, max-content);
  }

  .work_filters {
    column-gap: 0rem;
    margin-bottom: var(--mb-1);
  }

  .work_item {
    padding: 0.2rem 0.5rem;
    font-size: var(--small-font-size);
  }

  .work_tagline {
    font-size: var(--small-font-size);
  }
}
